<div class="container">
  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right-border">
      <h3>Transcribed Notes</h3>
      <hr/>
      <!-- set old text value -->
      <textarea id="note-textarea" rows="17" cols="80" placeholder="Meeting notes.f.."><%= @raw_text %>
      </textarea>

    </div>



    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h3>Parsed Notes</h3>
      <hr/>
      <h5><b>Subject:</b> <%= @subject %></h5>
      <h6>Meeting Details:</h6>
      <ul>
        <li>Start: <%= @start_time %></li>
        <li>End: <%= @end_time %></li>
        <li>Duration: <%= @duration %></li>
        <li>Attendance: <%= @participants.length %></li>
      </ul>

      <h5>Tasks discussed:</h5>
      <ol>
        <% for task in @tasks %>
          <li><%= task %></li>
        <% end %>
      </ol>


      <h6>Meeting Participants:</h6>
      <ul>
        <% for person in @participants %>
          <li><%= person %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<script type="text/javascript">

  // expand textarea
  var textarea = document.querySelector('textarea');

  textarea.addEventListener('keydown', autosize);

  function autosize(){
    var el = this;
    setTimeout(function(){
      el.style.cssText = 'height:auto; padding:0';
      // for box-sizing other than "content-box" use:
      // el.style.cssText = '-moz-box-sizing:content-box';
      el.style.cssText = 'height:' + el.scrollHeight + 'px';
    },0);
  }

</script>
